figcaption {
    text-align: center;
    font-family: Comic Sans MS;
    font-weight: bold;
    position: relative;
    font-size: 1em;
}

section {
    position: absolute;
    top: 33%;
    left: 33%;
    line-height: 2.5em;
}

article {
    font-family: sans-serif;
    text-align: justify; 
    font-size: 15px;
    position: absolute;
    top: 25%;
    margin: 0 auto;
}