header	{
	background-color: AliceBlue;
	font-family: verdana;
	margin-top: -1%;
}

nav	{
	background-color: AliceBlue;
    font-family: verdana;
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer {}