header {
	background-color: AliceBlue;
	font-family: verdana;
	margin-top: -1%;
}

#nav {
	background-color: AliceBlue;
    font-family: verdana;
    text-align: center;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}