#project-links	{
	text-align: center;
    font-family: pacifico, cursive;
    font-weight: bold;
}

#project-links img {
	border-radius: 50%;
	height: 11.2em;
	margin-left: 3em;
    margin-right: 3em;
}

#project-links a:link {
    text-decoration: none;
    font-size: 1.6em;
    color: #008B8B;
    display: inline-block;
}

#project-links a:visited {
    text-decoration: none;
    color: #800080;
}

#project-links a:hover {
    text-decoration: none;
    text-shadow: 2px 2px #DAA520;
}