/*PROJECTS INDEX PAGE*/
#project-links	{
	text-align: center;
    font-family: pacifico, cursive;
    font-weight: bold;
}

#project-links img {
	border-radius: 100%;
	height: 11.2em;
	margin-left: 3em;
    margin-right: 3em;
    box-shadow: .5em .5em .4em #888888;
}

#project-links a:link {
    text-decoration: none;
    font-size: 1.6em;
    color: #008B8B;
    display: inline-block;
}

#project-links a:visited {
    text-decoration: none;
    color: #800080;
}

#project-links a:hover {
    text-decoration: none;
}



/* Zoom Out Effect */
.hover04 figure img {
	width: 400px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover04 figure:hover img {
	width: 300px;
}

.column {
	margin: 15px 15px 0;
	padding: 0;
}
.column:last-child {
	padding-bottom: 60px;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	float: left;
	width: 300px;
	height: 200px;
	margin: 0 0 0 25px;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}
figure {
	width: 300px;
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

/*RUBY CHEAT SHEET PAGE*/
#cheatsheet-content {
    margin: .7em;
    font-family: Raleway, sans-serif;
}

#ruby-table {
    border: .15em solid black;
    text-align: center;
}

.rubydoc-link {
    text-decoration: none;
    font-weight: bold;
}

.rubydoc-link a:hover {
    text-decoration: none;
    text-shadow: 2px 2px #DAA520;
}

#ruby-table th {
    font-weight: bold;
    font-size: 1.2em;
}

#ruby-table caption {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: .3em;
}
