#project-links	{
	text-align: center;
    font-family: pacifico, cursive;
    font-weight: bold;
    position: relative;
    font-size: 1em;
    margin-top: 2.5em;
    margin-bottom: 1em;
}

#project-links img {
	border-radius: 50%;
}

#project-links a:link {
    text-decoration: none;
    font-size: 1.6em;
    color: #008B8B;
}

#project-links a:visited {
    text-decoration: none;
    color: #800080;
}

#project-links a:hover {
    text-decoration: none;
    text-shadow: 2px 2px #DAA520;
}